<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/static/css/bootstrap-reboot.min.css}">
  <link rel="icon" type="image/png" th:href="@{/static/images/favicon.png}">
</head>
<body>
<h2 th:text="~{this :: title/text()}"></h2>
<div layout:fragment="content"></div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
