<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Headers</title>
  <style>
    table, th, td {
      border: 1px solid red;
    }

    table {
      border-collapse: collapse;
    }

    td {
      font-family: monospace;
    }
  </style>
</head>
<body>
<table layout:fragment="content">
  <thead>
  <tr>
    <th>header</th>
    <th>value</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="hp: ${h}">
    <td th:text="${hp.key()}"></td>
    <td th:text="${hp.value()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
